<%- layout('layouts/boilerplate') %>
<div class="row">
    <img src="https://i.imgur.com/jPYc1tbm.png"></a>
</div>
<div class="row mt-3 mb-5">
    <div class="col-md-3 mb-2">
        <a href="/products?category=organic_fruits" class="col-12 btn btn-outline-dark">Organic Fruits</a>
    </div>
    <div class="col-md-3 mb-2">
        <a href="/products?category=organic_vegetables" class="col-12 btn btn-outline-dark">Organic Vegetables</a>
    </div>
    <div class="col-md-3 mb-2">
        <a href="/products?category=organic_commodities" class="col-12 btn btn-outline-dark">Organic Commodities</a>
    </div>
    <div class="col-md-3 mb-2">
        <a href="/products?category=subscription_box" class="col-12 btn btn-outline-dark">Subscription Box</a>
    </div>
    
    
</div>



